.guest-app-container {
  padding-bottom: 6rem;
  min-height: 100vh;
  background: #fff;
}
.guest-app-upper-wrapper {
  display: grid;
  grid-gap: 2rem;
  padding: 0 3rem;
  grid-template-columns: repeat(3, 1fr);
}
.guest-app-bottom-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
}
@media (max-width: 920px) {
  .guest-app-upper-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 720px) {
  .guest-app-upper-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .guest-app-container{
    padding-bottom: 10rem;
  }
}
