.login-main-container{
  background: linear-gradient(180deg, #fff 0%, #ffe2b6 100%);
}
.login-container {
  display: flex;
  justify-content: center;
  height: calc(100vh - 8.35rem);
  width: 100%;
}
.login-left-wrapper {
  width: 50%;
  padding: 3rem;
  display: flex;
  justify-content: center;
}
.login-form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}
.login-form h2 {
  font-weight: 200;
  font-size: 3rem;
}
.login-form-input {
  background: transparent;
  outline: none;
  border: none;
  height: 2rem;
  font-size: 1.2rem;
  color: #181818;
  font-weight: 500;
  border-bottom: 2px solid #181818;
}

::placeholder {
  font-size: 1.2rem;
  color: #181818;
  font-weight: 500;
}
.login-form button {
  border: none;
  border-radius: 8px;
  background: transparent;
  padding: 0.7rem 2.5rem;
  outline: none;
  text-decoration: none;
  color: #252525;
  transition: all 400ms ease-in-out;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.login-form button:hover {
  transform: translateY(-4px);
}

.login-img-wrapper {
  width: 50%;
  display: grid;
  place-content: center;
}
.login-img-wrapper img {
  width: 80%;
}
@media (max-width: 720px) {
  .login-left-wrapper,
  .login-form,
  .login-img-wrapper {
    width: 100%;
  }
  .login-img-wrapper img {
    display: none;
  }
  
}
