.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
  align-items: center;
}
.logo-wrapper {
  cursor: pointer;
}
.logo-wrapper span {
  font-size: 2rem;
  line-height: normal;
}
.logo-wrapper p {
  font-size: 0.8rem;
  font-family: "Space Grotesk", sans-serif;
  text-align: right;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.logo-wrapper a{
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;

}
.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: .5rem 1rem;
  border-radius: 4rem;
  /* background: rgb(233, 233, 233); */
  box-shadow: 4px 2px 6px 0px rgba(0, 0, 0, 0.25);
}
.profile-wrapper img {
  width: 50px;
  border-radius: 100%;
}

.nav-btns-wrapper {
  display: flex;
  gap: 1rem;
}
.nav-register-btn {
  border-radius: 4rem;
  background: transparent;
  padding: 0.5rem 2rem;
  outline: none;
  font-size: 0.8rem;
  text-decoration: none;
  border: 2px solid #252525;
  color: #252525;
  transition: all 400ms ease-in-out;
}
.nav-register-btn:hover {
  background: rgba(0, 0, 0, 0.75);
  color: white;
  box-shadow: 8px 5px 8.6px 0px rgba(0, 0, 0, 0.25),
    9px 7px 11.4px 0px rgba(255, 255, 255, 0.25) inset;
  border: 2px solid #707070;
}
.nav-login-btn {
  border-radius: 4rem;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  box-shadow: 8px 5px 8.6px 0px rgba(0, 0, 0, 0.25),
    9px 7px 11.4px 0px rgba(255, 255, 255, 0.25) inset;
  border: 2px solid #707070;
  padding: 0.5rem 2rem;
  outline: none;
  font-size: 0.8rem;
  text-decoration: none;
  transition: all 400ms ease-in-out;
}
.nav-login-btn:hover {
  background: transparent;
  border: 2px solid #252525;
  color: #252525;
}
