.home-container {
  background: linear-gradient(180deg, #fff 0%, #ffe2b6 100%);
  height: 100%;
  min-height: 100vh;
  width: 100%;
}
.home-wrapper {
  /* height: calc(100% - 136px); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}
.home-upper-wrapper {
  font-size: 2rem;
  font-weight: 200;
}
.home-upper-wrapper span {
  background: linear-gradient(180deg, #6e49ff 11.98%, #2166ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.home-lower-wrapper p {
  width: 50%;
}
.home-lower-wrapper span {
  font-size: clamp(2rem, 0.7952rem + 6.4257vw, 6rem);
  color: #202020;
}
.home-btns-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
.home-first-btn {
  border-radius: 4rem;
  background: transparent;
  padding: 0.7rem 2.5rem;
  outline: none;
  text-decoration: none;
  color: #252525;
  transition: all 400ms ease-in-out;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.home-second-btn {
  text-decoration: underline;
  color: #252525;
}
footer {
  position: absolute;
  bottom: 2rem;
  font-size: 0.8rem;
  font-family: "Space Grotesk", sans-serif;
}
